# Copyright (C) 2026 Maxim [maxirmx] Samsonov (www.sw.consulting)
# All rights reserved.
# This file is a part of Klinok ui application

node_modules
dist
coverage
.git
.github
.vite
.tmp*
*.log
.env
.env.*
